
<main class="landing-page">
  <div class="left-pane">
    <div class="myfullname">
      <h1>
        {{friend.fullname}}
      </h1>
    </div>
    <div class="mytagline">
      {{friend.tagline}}
    </div>
    <div class="mybio">
      {{friend.bio}}
    </div>
  </div>
  <div class="right-pane">
    <img class="rear-triangle" src="images/background.jpg" />

    <div class="grey-triangle">
    </div>

    <div class="blue-shadow">
    </div>

    <img ng-src="{{friend.imageurl}}" class="front-triangle"/>

    <div class="blue-triangle" id="profile-triangle">
    </div>
  </div>
</main>
