
<main class="landing-page">
  <div class="left-pane">
    <div class="myfullname">
      <h1>
        {{myProfile.fullname}}
      </h1>
    </div>
    <div class="mytagline">
      {{myProfile.tagline}}
    </div>
    <div class="mybio">
      {{myProfile.bio}}
    </div>
  </div>
  <div class="right-pane">
    <img class="rear-triangle"/>

    </div>

    <div class="blue-shadow">
    </div>

    <img ng-src="{{myProfile.imageurl}}" class="front-triangle"/>

    <div class="blue-triangle" id="profile-triangle">
    </div>
  </div>
</main>
